<:Body>
  <div class="{{ if errors }}has-error{{ elsif marked }}has-success{{ end }} has-feedback">
    {{ if label }}
      <label class="control-label">{{ label }}</label>
    {{ end }}
    {{ options.each do |option| }}
      <div class="radio">
        <label>
          {{ if attrs.value == option[:value] }}
            <input type="radio" checked="{{ attrs.value }}" name="{{ name }}" value="{{ option[:value] }}" checked/>
          {{ else }}
            <input type="radio" checked="{{ attrs.value }}" name="{{ name }}" value="{{ option[:value] }}"/>
          {{ end }}
          {{ option[:label] }}
        </label>
        {{ if errors }}
          <span class="glyphicon glyphicon-remove"></span>
          <span class="control-label errors">{{ (errors || []).join(', ') }}</span>
        {{ elsif marked }}
          <span class="glyphicon glyphicon-ok"></span>
        {{ end }}
      </div>
    {{ end }}
  </div>