<:Body>
  <div class="{{ if errors }}has-error{{ elsif marked }}has-success{{ end }} has-feedback">
    {{ options.each do |option| }}
      <div class="radio-inline">
        <label>
          <input type="radio" checked="{{ attrs.value }}" name="{{ name }}" value="{{ option[:value] }}"/>
          {{ option[:label] }}
        </label>
        {{ if errors }}
          <span class="glyphicon glyphicon-remove"></span>
          <span class="control-label errors">{{ (errors || []).join(', ') }}</span>
        {{ elsif marked }}
          <span class="glyphicon glyphicon-ok"></span>
        {{ end }}
      </div>
    {{ end }}
  </div>