<:Body>
  <div class="form-group {{ if errors }}has-error{{ elsif marked }}has-success{{ end }} has-feedback">
    {{ if label.present? }}
      <label class="control-label">{{ label }}</label>
    {{ end }}
    <input type="{{ @type }}" value="{{ attrs.value }}" e-focusout="blur" class="form-control" placeholder="{{ attrs.placeholder }}" />
    {{ if errors }}
      <span class="glyphicon glyphicon-remove form-control-feedback"></span>
      <span class="control-label errors">{{ (errors || []).join(', ') }}</span>
    {{ elsif marked }}
      <span class="glyphicon glyphicon-ok form-control-feedback"></span>
    {{ end }}
  </div>
